mixin colors-text(nameAtributFirst,nameAtributSecond,nameAtributThird,nameAtributFourth,textFirst,textSecond,textThird,textFourth)
    
        .colors-text__boxName
            p.nameAtributFirst=nameAtributFirst
            p.nameAtributSecond=nameAtributSecond
            p.nameAtributThird=nameAtributThird
            p.nameAtributFourth=nameAtributFourth
            
        .colors-text__boxText
            p.textFirst=textFirst
            p.textSecond=textSecond
            p.textThird=textThird
            p.textFourth=textFourth 
            